In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/entradas/producao/producao_3.csv',sep=';')
display(df)

,id,produto,1970,1971,1972,1973,1974,1975,1976,1977,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,...,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611
1,2,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,154801826,...,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996,162844214
2,3,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,4954387,...,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799,30198430
3,4,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,35603565,...,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200,1988968
4,5,VINHO FINO DE MESA (VIN√çFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,...,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796
5,6,Tinto,7591557,7265666,6782837,3419625,10047658,14731106,12405154,16131758,...,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249,24417918
6,7,Branco,15562889,15655709,13289304,7930070,18927471,21933695,19874659,20409231,...,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999,20896613
7,8,Rosado,744900,664687,1006630,1018715,2668995,2759789,2220777,4723982,...,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750,2197265
8,9,SUCO,1097771,2296654,3509440,0,0,0,0,0,...,64879790,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079
9,10,Suco de uva integral,1097771,2296654,3509440,0,0,0,0,0,...,33673396,43331223,52233155,31117869,46865626,34367996,50239767,40718523,68038479,35248305
10,11,Suco de uva concentrado,0,0,0,0,0,0,0,0,...,31206394,33392314,35661313,11092520,30059271,31099910,26861009,27963865,32131218,29892550
11,12,Suco de uva ado√ßado,0,0,0,0,0,0,0,0,...,0,0,0,0,177774,0,120320,107289,40450,79130
12,13,Suco de uva org√¢nico,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,471610,722117,589094
13,14,Suco de uva reconstitu√≠do,0,0,0,0,0,0,0,0,...,0,0,0,0,59300,0,584256,0,0,0
14,15,DERIVADOS,14164329,13280518,12314509,28317919,47904934,53633143,22925012,24015856,...,64072127,62907281,107349704,53950314,109116761,95202101,142888747,92533804,169031493,138501226
15,16,Espumante,0,0,0,0,0,0,0,0,...,30275,2700,23750,1500,11280,68500,52176,32399,70091,70759
16,17,Espumante moscatel,0,0,0,0,0,0,0,0,...,159781,100000,110100,100000,152375,326200,515800,689139,11950,27200
17,18,Base espumante,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5475049,0
18,19,Base espumante moscatel,0,0,0,0,0,0,0,0,...,1470700,1808044,1607727,1325700,1965629,1320650,1962443,3006705,5549471,6308043
19,20,Base Champenoise champanha,0,0,0,0,0,0,0,0,...,359617,234725,605001,740395,1552403,228518,274903,200777,0,1146717
20,21,Base Charmat champanha,0,0,0,0,0,0,0,0,...,624728,376968,1466259,250280,893364,1746540,1188095,2487939,0,4078766
21,22,Bebida de uva,0,0,0,0,0,0,0,0,...,4260,3860,922,3474,0,0,0,0,2000,0
22,23,Polpa de uva,0,0,0,0,0,0,0,0,...,1742152,2484000,2371140,1620430,2507125,2112683,1480269,1803472,1180578,387886
23,24,Mosto simples,7170736,7646774,6051822,21779327,41346735,48185206,18220527,22097156,...,58517506,57582195,100911592,49770993,101010116,88910980,135614344,80355474,153579926,126048241
24,25,Mosto concentrado,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,26,Mosto de uva com baga√ßo,0,0,0,0,0,0,0,0,...,0,0,0,0,772110,0,645816,3078256,618764,0
26,27,Mosto dessulfitado,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1000,5000,1532000,0
27,28,Mistelas,1072100,818400,871200,512900,826300,223000,205500,553200,...,2500,1000,0,0,1500,2000,3000,0,2500,0
28,29,N√©ctar de uva,0,0,0,0,0,0,0,0,...,10000,1140,1000,0,3000,0,32519,46000,18187,0
29,30,Licorosos,282500,270000,254600,176500,135000,24000,4400,525000,...,0,0,0,0,110820,0,0,0,0,0
30,31,Compostos,0,45000,1358300,1628000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,32,Jeropiga,0,0,0,0,0,0,107500,12500,...,0,0,0,0,0,0,0,2000,3540,5000
32,33,Filtrado,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,34,Frisante,0,0,0,0,0,0,0,0,...,1009000,26069,0,0,0,0,0,0,1390,0
34,35,Vinho leve,0,0,0,0,0,0,0,0,...,0,0,0,0,0,8000,0,0,0,0
35,36,Vinho licoroso,0,0,0,0,0,0,0,0,...,100,36000,56000,24200,110820,124303,99485,48678,30000,67000
36,37,Brandy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,120,0
37,38,Destilado,830030,0,0,0,0,0,0,0,...,0,0,0,0,0,680,0,0,0,0
38,39,Bagaceira,961290,913200,755350,661270,424620,576098,705912,828000,...,0,0,1350,1000,900,2100,10495,0,12060,4998
39,40,Licor de bagaceira,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1507,5800,0,0
40,41,Vinagre,0,21500,8200,0,35300,0,288000,0,...,0,53776,25800,5000,25319,25367,76096,10000,7500,16200
41,42,Borra l√≠quida,3847673,3565644,3015037,3559922,5136979,4624839,3393173,0,...,63111,50954,48833,24975,0,255100,901431,509378,116450,0
42,43,Borra seca,0,0,0,0,0,0,0,0,...,78397,142850,120230,82367,0,70480,25996,167587,16789,0
43,44,Vinho Composto,0,0,0,0,0,0,0,0,...,0,3000,0,0,0,0,0,0,160000,0
44,45,Pisco,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3372,1000,0,0
45,46,Vinho org√¢nico,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,18700,93884,88890
46,47,Espumante org√¢nico,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2412,0
47,48,Destilado alco√≥lico simples de bagaceira,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,500,3000,4300
48,49,Vinho acidificado,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,65000,0,0
49,50,Mosto parcialmente fermentado,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,543510,0
50,51,Outros derivados,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,322,247228

In [19]:
produtos = ['VINHO DE MESA','VINHO FINO DE MESA (VIN√çFERA)','SUCO','Espumante','Espumante moscatel']

In [20]:
produtos

['VINHO DE MESA',
 'VINHO FINO DE MESA (VIN√çFERA)',
 'SUCO',
 'Espumante',
 'Espumante moscatel']

In [21]:
selecao = df['produto'].isin(produtos)
df_filtrado = df[selecao]
display(df_filtrado)

,id,produto,1970,1971,1972,1973,1974,1975,1976,1977,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,...,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611
4,5,VINHO FINO DE MESA (VIN√çFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,...,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796
8,9,SUCO,1097771,2296654,3509440,0,0,0,0,0,...,64879790,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079
15,16,Espumante,0,0,0,0,0,0,0,0,...,30275,2700,23750,1500,11280,68500,52176,32399,70091,70759
16,17,Espumante moscatel,0,0,0,0,0,0,0,0,...,159781,100000,110100,100000,152375,326200,515800,689139,11950,27200

In [22]:
df_filtrado.replace({'produto':{'VINHO FINO DE MESA (VIN√çFERA)':'VINHO DE MESA','Espumante moscatel':'Espumante'}},inplace=True)

C:\Users\rpjun\AppData\Local\Temp\ipykernel_15168\1661326745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado.replace({'produto':{'VINHO FINO DE MESA (VIN√çFERA)':'VINHO DE MESA','Espumante moscatel':'Espumante'}},inplace=True)

In [23]:
df_filtrado

,id,produto,1970,1971,1972,1973,1974,1975,1976,1977,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,...,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611
4,5,VINHO DE MESA,23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,...,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796
8,9,SUCO,1097771,2296654,3509440,0,0,0,0,0,...,64879790,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079
15,16,Espumante,0,0,0,0,0,0,0,0,...,30275,2700,23750,1500,11280,68500,52176,32399,70091,70759
16,17,Espumante,0,0,0,0,0,0,0,0,...,159781,100000,110100,100000,152375,326200,515800,689139,11950,27200

In [24]:
df_filtrado.set_index('produto')

,id,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
produto,,,,,,,,,,,,,,,,,,,,,
VINHO DE MESA,1,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,200053669,...,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611
VINHO DE MESA,5,23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,36750933,...,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796
SUCO,9,1097771,2296654,3509440,0,0,0,0,0,0,...,64879790,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079
Espumante,16,0,0,0,0,0,0,0,0,0,...,30275,2700,23750,1500,11280,68500,52176,32399,70091,70759
Espumante,17,0,0,0,0,0,0,0,0,0,...,159781,100000,110100,100000,152375,326200,515800,689139,11950,27200

In [26]:
df_filtrado.drop(columns=['id'],inplace=True)

C:\Users\rpjun\AppData\Local\Temp\ipykernel_15168\3154453483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado.drop(columns=['id'],inplace=True)

In [62]:
df_filtrado

,produto,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,id
0,Vinho de Mesa,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,200053669,...,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611,1
4,Vinho de Mesa,23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,36750933,...,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796,1
8,Suco de Uva,1097771,2296654,3509440,0,0,0,0,0,0,...,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079,2
15,Espumantes,0,0,0,0,0,0,0,0,0,...,2700,23750,1500,11280,68500,52176,32399,70091,70759,3
16,Espumantes,0,0,0,0,0,0,0,0,0,...,100000,110100,100000,152375,326200,515800,689139,11950,27200,3

In [34]:
def id_por_tipo(tipo):
    if (tipo == 'VINHO DE MESA'):
        return 1
    elif (tipo == 'SUCO'):
        return 2
    elif (tipo == 'Espumante'):
        return 3

In [38]:
# df_filtrado['id'] = df_filtrado['produto'].apply(id_por_tipo)
df_filtrado

,produto,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,id
0,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,200053669,...,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611,1
4,VINHO DE MESA,23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,36750933,...,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796,1
8,SUCO,1097771,2296654,3509440,0,0,0,0,0,0,...,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079,2
15,Espumante,0,0,0,0,0,0,0,0,0,...,2700,23750,1500,11280,68500,52176,32399,70091,70759,3
16,Espumante,0,0,0,0,0,0,0,0,0,...,100000,110100,100000,152375,326200,515800,689139,11950,27200,3

In [51]:
df_filtrado.replace({'produto':{'SUCO':'Suco de Uva','VINHO DE MESA':'Vinho de Mesa','Espumante':'Espumantes'}},inplace=True)
df_filtrado

C:\Users\rpjun\AppData\Local\Temp\ipykernel_15168\2451747366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado.replace({'produto':{'SUCO':'Suco de Uva','VINHO DE MESA':'Vinho de Mesa','Espumante':'Espumantes'}},inplace=True)

,produto,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,id
0,Vinho de Mesa,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,200053669,...,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611,1
4,Vinho de Mesa,23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,36750933,...,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796,1
8,Suco de Uva,1097771,2296654,3509440,0,0,0,0,0,0,...,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079,2
15,Espumantes,0,0,0,0,0,0,0,0,0,...,2700,23750,1500,11280,68500,52176,32399,70091,70759,3
16,Espumantes,0,0,0,0,0,0,0,0,0,...,100000,110100,100000,152375,326200,515800,689139,11950,27200,3

In [61]:
df_somado = df_filtrado.groupby(df_filtrado['produto']).sum(numeric_only=True).reset_index()
df_somado

,produto,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,id
0,Espumantes,0,0,0,0,0,0,0,0,0,...,102700,133850,101500,163655,394700,567976,721538,82041,97959,6
1,Suco de Uva,1097771,2296654,3509440,0,0,0,0,0,0,...,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079,2
2,Vinho de Mesa,241107950,177850713,168032068,129078755,225519469,216825799,179066028,236624749,236804602,...,234637437,247457542,104389641,299553057,257082856,182245159,156717100,217374993,242543407,2

In [68]:
# df_somado.drop(columns='id',inplace=True)
df_somado

,produto,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Espumantes,0,0,0,0,0,0,0,0,0,...,190056,102700,133850,101500,163655,394700,567976,721538,82041,97959
1,Suco de Uva,1097771,2296654,3509440,0,0,0,0,0,0,...,64879790,76723537,87894468,42210389,77161971,65467906,77805352,69261287,100932264,65809079
2,Vinho de Mesa,241107950,177850713,168032068,129078755,225519469,216825799,179066028,236624749,236804602,...,242686752,234637437,247457542,104389641,299553057,257082856,182245159,156717100,217374993,242543407

In [64]:
df_melted = pd.melt(df_somado, id_vars=['produto'],var_name='ano',value_name='quantidade')
df_melted

           produto   ano  quantidade
0       Espumantes  1970           0
1      Suco de Uva  1970     1097771
2    Vinho de Mesa  1970   241107950
3       Espumantes  1971           0
4      Suco de Uva  1971     2296654
..             ...   ...         ...
154    Suco de Uva  2021   100932264
155  Vinho de Mesa  2021   217374993
156     Espumantes  2022       97959
157    Suco de Uva  2022    65809079
158  Vinho de Mesa  2022   242543407

[159 rows x 3 columns]

In [69]:
anos = df_melted['ano'].unique().tolist()
ultimos_quinze_anos = anos[-15:]
ultimos_quinze_anos

['2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022']

In [70]:
selecao = df_melted['ano'].isin(ultimos_quinze_anos)
df_final = df_melted[selecao]
df_final

           produto   ano  quantidade
114     Espumantes  2008     1202152
115    Suco de Uva  2008    35647994
116  Vinho de Mesa  2008   334841312
117     Espumantes  2009     1190500
118    Suco de Uva  2009    39715098
119  Vinho de Mesa  2009   245318774
120     Espumantes  2010      713518
121    Suco de Uva  2010    50125944
122  Vinho de Mesa  2010   220073693
123     Espumantes  2011      245461
124    Suco de Uva  2011    69364324
125  Vinho de Mesa  2011   305439220
126     Espumantes  2012      156975
127    Suco de Uva  2012    70066732
128  Vinho de Mesa  2012   257977767
129     Espumantes  2013      190056
130    Suco de Uva  2013    64879790
131  Vinho de Mesa  2013   242686752
132     Espumantes  2014      102700
133    Suco de Uva  2014    76723537
134  Vinho de Mesa  2014   234637437
135     Espumantes  2015      133850
136    Suco de Uva  2015    87894468
137  Vinho de Mesa  2015   247457542
138     Espumantes  2016      101500
139    Suco de Uva  2016    42210389
140  Vinho de Mesa  2016   104389641
141     Espumantes  2017      163655
142    Suco de Uva  2017    77161971
143  Vinho de Mesa  2017   299553057
144     Espumantes  2018      394700
145    Suco de Uva  2018    65467906
146  Vinho de Mesa  2018   257082856
147     Espumantes  2019      567976
148    Suco de Uva  2019    77805352
149  Vinho de Mesa  2019   182245159
150     Espumantes  2020      721538
151    Suco de Uva  2020    69261287
152  Vinho de Mesa  2020   156717100
153     Espumantes  2021       82041
154    Suco de Uva  2021   100932264
155  Vinho de Mesa  2021   217374993
156     Espumantes  2022       97959
157    Suco de Uva  2022    65809079
158  Vinho de Mesa  2022   242543407

In [67]:
df_melted.to_csv('datasets/saidas/producao/producao.csv',sep=';')

In [71]:
df_final.reset_index(drop=True,inplace=True)
df_final

          produto   ano  quantidade
0      Espumantes  2008     1202152
1     Suco de Uva  2008    35647994
2   Vinho de Mesa  2008   334841312
3      Espumantes  2009     1190500
4     Suco de Uva  2009    39715098
5   Vinho de Mesa  2009   245318774
6      Espumantes  2010      713518
7     Suco de Uva  2010    50125944
8   Vinho de Mesa  2010   220073693
9      Espumantes  2011      245461
10    Suco de Uva  2011    69364324
11  Vinho de Mesa  2011   305439220
12     Espumantes  2012      156975
13    Suco de Uva  2012    70066732
14  Vinho de Mesa  2012   257977767
15     Espumantes  2013      190056
16    Suco de Uva  2013    64879790
17  Vinho de Mesa  2013   242686752
18     Espumantes  2014      102700
19    Suco de Uva  2014    76723537
20  Vinho de Mesa  2014   234637437
21     Espumantes  2015      133850
22    Suco de Uva  2015    87894468
23  Vinho de Mesa  2015   247457542
24     Espumantes  2016      101500
25    Suco de Uva  2016    42210389
26  Vinho de Mesa  2016   104389641
27     Espumantes  2017      163655
28    Suco de Uva  2017    77161971
29  Vinho de Mesa  2017   299553057
30     Espumantes  2018      394700
31    Suco de Uva  2018    65467906
32  Vinho de Mesa  2018   257082856
33     Espumantes  2019      567976
34    Suco de Uva  2019    77805352
35  Vinho de Mesa  2019   182245159
36     Espumantes  2020      721538
37    Suco de Uva  2020    69261287
38  Vinho de Mesa  2020   156717100
39     Espumantes  2021       82041
40    Suco de Uva  2021   100932264
41  Vinho de Mesa  2021   217374993
42     Espumantes  2022       97959
43    Suco de Uva  2022    65809079
44  Vinho de Mesa  2022   242543407

In [73]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produto     45 non-null     object
 1   ano         45 non-null     object
 2   quantidade  45 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.2+ KB

In [74]:
df_final['quantidade'] = df_final['quantidade'].astype(float)

C:\Users\rpjun\AppData\Local\Temp\ipykernel_15168\3161444888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['quantidade'] = df_final['quantidade'].astype(float)

In [76]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produto     45 non-null     object
 1   ano         45 non-null     object
 2   quantidade  45 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.2+ KB

In [77]:
df_final.to_csv('datasets/saidas/producao/producao.csv',sep=';')